*{
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  }
.Landing-header{
  color: #102A67;
  font-weight:800;
  letter-spacing: 1px;
  text-align: left;
}

.blog-post__cta a:hover{
  color: white;
}

#home-grid1{
  margin-top: 8%;
  text-align: left;
  }


.landing-info{
  word-spacing: 2px;
  font-weight: 400;
  text-align: left;

}

.app-btn{
  cursor: pointer;
}

.app-btn:hover{
  opacity: 0.5;
}

.features-title{
  padding-left: 6.5rem;
  color:black;
  font-weight: 600;
}


.col-sm {
  width: 10rem;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 5%;


}


#row1{
  width: 10rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
  border-radius: 10px;
   padding: 2%;
   text-align: center;
   height: 12rem;

  }

   #row2{
     background: #FFFFFF;
     box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
     border-radius: 10px;
      padding: 2%;
      width: 10rem;
      text-align: center;
      height: 13rem;
     }
     #row3{
       height: 13rem;
       background: #FFFFFF;
       box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
       border-radius: 10px;
        padding: 2%;
        text-align: center;
        width: 10rem;
       }
       #row4{
         height: 13rem;
         width: 10rem;
         background: #FFFFFF;
         box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
         border-radius: 20px;
         padding: 2%;
         text-align: center;

         }
         #row5{
           height: 13rem;
           width: 10rem;
           background: #FFFFFF;
           box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
           border-radius: 10px;
            padding: 2%;
            text-align: center;
         }


         #row6{
           height: 13rem;
           width: 10rem;
           background: #FFFFFF;
           box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
           border-radius: 10px;
            padding: 2%;
            text-align: center;
           }


         #Landing{
           padding: 5rem;

         }


          .blog-post__info{
            padding-bottom: 2%;
          }

        .blog-post{
              width: 35rem;
              background-color: #fff;
              display: flex;
              align-items: center;
              border-radius: .8rem;
              border: 1px solid #E8E9EA;
          }

          .blog-post__img{
            width: 400px;
              height: 16rem;
              width: 464px;
              height: 15rem;
              position: relative;
              transform: translateY( 0.5rem);
          }

          .blog-post__img img{
              width: 154px;
              height: 230px;
              object-fit: cover;
              display: block;
              border-radius: .8rem;

              height: 14rem;
              object-fit: cover;
              display: block;
              border-radius: .8rem;
              transform: translateX(0.5rem);
          }


          .blog-post__title{
              font-size: 1.3rem;
              font-size: 1rem;
              margin: 1rem 0 2rem;
              text-transform: capitalize;
              color: #102A67;
              font-weight: 900;
          }

          .blog-post__text{
              margin-bottom: 3rem;
              font-size: 1rem;
              line-height: 20px;
              width: 80%;
              text-align: center;

          }

          .blog-post__cta{

              padding: 0.7rem 1.7rem;
              letter-spacing: 1px;
              text-transform: capitalize;
              font-size: 0.7rem;
              color: #fff;
              border-radius: .6rem;
              background-color: #102ADC;
              cursor: pointer;

          }

          @media screen and (max-width: 1068px) {
              .blog-post{

              }

            }


          @media screen and (max-width: 868px) {
              .blog-post{
                  margin: 5%;
              }


              #Landing{
                flex-direction: column;
              }

              .blog-post__img img{
                width: 10rem;
              }

              .blog-post__info{
                  min-width: 20rem;
                  max-width: 35rem;
              }

              .col- .blog-post{
                  min-width: 20rem;
                  max-width: 30rem;
              }

          }

          @media screen and (max-width: 768px) {
              .blog-post{
                  padding: 0.4rem;
                  width: 37rem;
              }

              .blog-post__info{
                  text-align: center;
              }


              .blog-post__img img{
                  width: 12rem;
              }

              .blog-post__img img{
                  width: 12rem;

              }
          }


          @media screen and (max-width: 530px) {
              .blog-post__img{


              }
          }


p {
    word-wrap: break-word;
    font-size: 14px;
}

.bx-time{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.bx-group{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.bx-bell-off{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.bx-timer{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;

}

.bx-share{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.label-txt{
  width: 100%;
  color: #102A67;
}
.app-label{
  font-weight: bolder;
  font-size: 16px;
  color: #102A67;
}

#row{
  margin: 5%;
}


.testimony-img{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}

.testimony-title{
    color: #fff;
    font-weight: 600;
    margin-left: 3%;
    margin-top: 5%;
    padding-top: 3rem;
}

#testimony-grid{
    border: 1px solid black;
    margin: 4%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 20rem;
    background-color: #fff;
    height: 17rem;

}

.testimony-text{
    width: 100%;
    text-align: center;
    color: #333333;

}

#testimony-icon{
    font-size: 3rem;
    transform: translateX(7rem);
    color: #102A67;
}

.testimony-name{
    font-weight:600;
    color: #102A67;
    font-size: 1em;

}

.testimony-info{
    display: inline-table;
    margin-left: 5%;
    transform: translateY(-0.9rem);
}
