*{
  font-family: 'Montserrat', sans-serif;
}

@viewport {
  width: device-width ;
}


body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  }

.Landing-header{
  color: #102A67;
  font-weight:800;
  letter-spacing: 1px;
  text-align: left;
}


.blog-articles p{
  text-align: left;
}

#home-grid1{
  padding-top: 4rem;
  text-align: left;
  }
#home-grid2{
  margin: -2rem 2rem 0 0;
  width: 200px;
}

#Landing{
  margin-top: 2%;
  padding: 2%;
  width: 100%;
}
.landing-info{
  word-spacing: 2px;
  font-weight: 400;
  text-align: left;

}

.app-btn{
  cursor: pointer;
}

.app-btn:hover{
  opacity: 0.5;
}

.features-title{
  /* margin-left: 3rem; */
  color:black;
  font-weight: 600;
}


.col-sm {
  width: 10rem;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 2%;

}


  #row1{
  /* width: 8rem; */
  max-width: 400px;
  min-width: 200px;
  padding: 25px 5px;
  margin: 40px auto 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
  border-radius: 10px;
   /* padding: 2%; */
   text-align: center;
   /* height: 13rem; */

  }

   #row2{
    max-width: 400px;
    min-width: 200px;
    padding: 45px 25px;
    margin: 40px auto 0;
     background: #FFFFFF;
     box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
     border-radius: 10px;
     max-width: 400px;
     min-width: 200px;
     padding: 25px 5px;
      /* padding: 2%; */
      /* width: 8rem; */
      /* text-align: center;
      height: 13rem; */
     }
     #row3{
       /* height: 13rem; */
       max-width: 400px;
       min-width: 200px;
       padding: 25px 5px;
       margin: 40px auto 0;
       background: #FFFFFF;
       box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
       border-radius: 10px;
        /* padding: 2%; */
        text-align: center;
        /* width: 8rem; */
       }
       #row4{
         /* height: 13rem; */
         /* width: 8rem; */
         max-width: 400px;
           min-width: 200px;
           padding: 25px 5px;
           margin: 40px auto 0;
         background: #FFFFFF;
         box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
         border-radius: 20px;
         /* padding: 2%; */
         text-align: center;

         }
         #row5{
           max-width: 400px;
           min-width: 200px;
           padding: 25px 5px;
           margin: 40px auto 0;
           background: #FFFFFF;
           box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
           border-radius: 10px;
            /* padding: 2%; */
            text-align: center;
         }


         #row6{
           /* height: 13rem; */
           max-width: 400px;
           min-width: 50px;
           padding: 25px 5px;
           margin: 40px auto 0;
           background: #FFFFFF;
           box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
           border-radius: 10px;
            /* padding: 2%; */
            text-align: center;
           }

          @media screen and (max-width: 1068px) {

                /* #landing-row{
                  flex-direction: column;
                } */
              }
            @media screen and (max-width: 978px) {
                #home-grid2{
                  padding: 8rem 0 0 0;
                }
              }
          @media screen and (max-width: 768px) {

              #home-grid2{
                padding-top: 7rem 0 0 0;
              }
          }
          @media screen and (max-width: 575px) {
            .label-txt{
              font-size: 10px;
            }

            .app-label{
              font-size: 8px;
            }

          }

p {
    word-wrap: break-word;
    font-size: 14px;
}

.bx-time{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.bx-group{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.bx-bell-off{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.bx-timer{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;

}

.bx-share{
  background-color: #102A67;
  color: white;
  border-radius: 50%;
  padding: 5%;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.label-txt{
  width: 100%;
  color: #102A67;
}
.app-label{
  font-weight: bolder;
  font-size: 16px;
  color: #102A67;
}


.testimony-img{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}

.testimony-title{
    color: #fff;
    font-weight: 600;
    margin-left: 3%;
    margin-top: 5%;
    padding-top: 3rem;
}

.post{
  font-weight: 700;
  margin-left:  0.5rem;
}

#testimony-grid{
    border: 1px solid black;
    margin: 30px auto;
    padding: 2rem 1rem 1rem;
    max-width: 400px;
    background-color: #fff;
    /* height: 17rem; */

}

.testimony-text{
    width: 100%;
    text-align: center;
    color: #333333;

}

#testimony-icon{
    font-size: 3rem;
    transform: translateX(7rem);
    color: #102A67;
}

.testimony-name{
    font-weight:600;
    color: #102A67;
    font-size: 1em;

}

.testimony-info{
    display: inline-table;
    margin-left: 5%;
    transform: translateY(-0.9rem);
}

article{
  padding-bottom: 30px;
}

.blog-img{
  width: 190px;
  height: 100%;
  /* display: block; */
  object-fit: cover;
  border-radius: 10px;
  box-sizing: border-box;
}

.img-test{
  width: 100%;
  height: 240px;
}

.pl-2, .px-2 {
  padding-left: 2.0rem!important;
  margin-top: 15px;
}

.btn{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
button{
  background: #255ADC;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
}

a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #255adc;
}
.article-box:hover {
  text-decoration: none;
}
.phone-img {
  height: 650px;
}

/* Media queries */
@media (min-width:1119px) {
  #home-grid2{
    margin: 2rem 0 0 -2.5rem;
    /* width: 400px; */
  }  

  #home-grid2 img {
    width: 600px !important;
    /* margin: 0 auto; */
  }
}
@media (min-width:1001px){
  footer {
      /* position: fixed; */
      bottom: 0;
      left: 0;
      right: 0;
  }
  .blog-articles{
    margin-left: 30px;
  }
  #home-grid1{
    margin: 5rem 0 0 2rem;
    text-align: left;
    }
  .features {
    margin: -10rem 0 0 0;
  }
  
}
@media (max-width: 1024px) {
  .app-btn  {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width:1119px){
  .pl-2, .px-2 {
      padding-left: 3.0rem!important;
      margin-top: 15px;
  }

  button{
      margin-left: 35px;
      margin-bottom: 5px;
  }
  #home-grid2{
    margin: 2rem 0 0 -1.5rem;
  }

  #home-grid2 img {
    width: 520px;
  }
  #home-grid1{
    margin-left: 1rem;
    }
}
@media (max-width:992px){
  .Landing-header{
    color: #102A67;
    font-weight:800;
    letter-spacing: 1px;
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  .landing-info {
    text-align: center;
  }

  .phone-img {
    display: none;
  }

  .features-title {
    text-align: center;
  }
  .testimony-title{
    text-align: center;
}
.post{
  text-align: center;
}

}

@media (min-width: 768px) and (max-width:991px){
  .blog-articles .row article{
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
      /* background-color: ; */
  }
  #home-grid2{
    margin: -7rem -1rem 0 -1.5rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 450px;
    /* margin: 0 auto; */
  }
  #home-grid1{
    margin-left: 1rem;
    }

}
@media (min-width: 620px) and (max-width:768px){
  #home-grid2{
    margin: -7rem 0 0 -1.5rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 550px;
    margin: 0 auto;
  }
  /* div.row#landing-row {
    max-width: 755px;
  } */
}
@media (min-width: 577px) and (max-width:619px){
  #home-grid2{
    margin: -7rem 0 0 -0.5rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 450px;
    margin: 0 auto;
  }
}
@media (max-width:576px){
  .blog-img{
      width: 250px;
      height: 100%;
      /* display: block; */
      object-fit: cover;
      border-radius: 10px;
      box-sizing: border-box;
  }
  
  .img-test{
      width: 100%;
      height: 200px;
  }

  .landing-info {
    text-align: center;
  }

  .phone-img {
    display: none;
  }
  #home-grid2{
    margin: -7rem 0 0 -0.8rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 450px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 426px) {
  #home-grid2{
    margin: -6rem 0 0 -1rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 360px;
    /* margin: 0 auto; */
  }
  div.row#landing-row {
    max-width: 420px;
  }

  #row5{
    max-width: 400px;
    min-width: 200px;
    padding: 25px 5px;
    margin: 40px auto 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 5px rgba(241, 241, 241, 0.5);
    border-radius: 10px;
     /* padding: 2%; */
     text-align: center;
  }


  #row1{
    max-width: 300px;
    min-width: 50px;
    }

  #row2{
    max-width: 300px;
    min-width: 50px;
    }
  #row3{
    max-width: 300px;
    min-width: 50px;
    }
  #row4{
    max-width: 300px;
    min-width: 50px;
    }
  #row5{
    max-width: 300px;
    min-width: 50px;
    }
  #row6{
    max-width: 300px;
    min-width: 50px;
    }


}
@media (max-width:376px) {
  #home-grid2{
    margin: -6rem 0 0 -1rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 320px;
    margin: 0 auto;
  }
  div.row#landing-row {
    max-width: 370px;
  }
}

@media (max-width: 326px) {
  #home-grid2{
    margin: -6rem 0 0 -1.5rem;
    /* width: 400px; */
  }

  #home-grid2 img {
    width: 280px;
    margin: 0 auto;
  }
  div.row#landing-row {
    max-width: 320px;
  }

  

  #row1{
    max-width: 200px;
    min-width: 50px;
    }

  #row2{
    max-width: 200px;
    min-width: 50px;
    }
  #row3{
    max-width: 200px;
    min-width: 50px;
    }
  #row4{
    max-width: 200px;
    min-width: 50px;
    }
  #row5{
    max-width: 200px;
    min-width: 50px;
    }
  #row6{
    max-width: 200px;
    min-width: 50px;
    }
}