body {
    height: 100vh;
    /* overflow: scroll; */
}

/* Contact-Us */
main{
    z-index: 0;
}

.contact-us h1{
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    color: #263238;
}

/* contact details */

.contact-details{
    padding: 0px 10px;
}

.card-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #102A67;
    padding-top: 13px;
}

.technical-problem .card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #102A67;
}

.technical-problem .btn-primary {
    background-color: #255ADC;
    border-radius: 10px;
    padding: 10px 30px;
}

.technical-problem a{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.questions .card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #102A67;
    margin-bottom: 36px;
}

.questions .btn-primary {
    background-color: #255ADC;
    border-radius: 10px;
    padding: 10px 30px;

}

.questions a{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.social-links .card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #102A67;
    margin-bottom: 36px;
}

.social-links .btn-primary {
    background-color: #255ADC;
    border-radius: 10px;
    padding: 10px 30px;

}

.social-links .btn {
    display: flex;
    padding: 15px 60px;
    margin-left: 10px;
}

.social-links .btn a {
    text-decoration: none;
    font-size: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #255ADC;
    color: #ffffff;
    transition: all 250ms ease-in-out;
}

.social-links .btn a:first-child {
    margin-right: 15px;
}

.social-links .btn a:last-child {
    margin-left: 15px;
}

